
<div class="position-absolute pos-bottom pos-left pos-right p-3 text-right pr-6">
    @DateTime.Now.Year © INFITECH
    @*by&nbsp;
        <a href="http://www.reporteq.com" class="fw-500" style="color:#ffa500; text-decoration:none !important" title="Reporteq" target="_blank">
            Reporteq ®
        </a>*@
</div>