@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageName"] = "Index";
    ViewData["Category1"] = "Dashboard";
    Layout = "../Shared/_WebLayout.cshtml";
    //ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Analytics <span class='fw-300'>Dashboard</span>";
}
<!-- Slider Start -->
    <div class="slider-area slider-height-4">
        <div class="hero-slider swiper-container">
            <div class="swiper-wrapper">
                <!-- Single Slider  -->
                <div class="swiper-slide bg-img d-flex"
                    style="background-image: url(assets/images/slider-image/sample-7.jpg);">
                    <div class="container align-self-center">
                        <div class="slider-content-1 slider-animated-1 text-center">

                            <h1 class="animated color-black">
                                <strong>WELCOME TO INFITECH</strong>
                            </h1>
                            <span class="animated color-gray">Infitech Training Institute was established to address the
                                continuously evolving training <br>
                                and competency development challenges of the upstream oil and gas industry. Infitech
                                offers <br>
                                a wide range of programming that includes HSE, Lifting, Well Engineering, and
                                Maintenance.</span>
                            <a href="#about-us" class="shop-btn animated">KNOW MORE</a>
                        </div>
                    </div>
                </div>
                <!-- Single Slider  -->
                <div class="swiper-slide bg-img d-flex"
                    style="background-image: url(assets/images/slider-image/sample-8.jpg);">
                    <div class="container align-self-center">
                        <div class="slider-content-1 slider-animated-1 text-center">
                            <h1 class="animated color-black">
                                <strong>WELCOME TO INFITECH</strong>
                            </h1>
                            <span class="animated color-gray">Infitech Training Institute was established to address the
                                continuously evolving training <br>
                                and competency development challenges of the upstream oil and gas industry. Infitech
                                offers <br>
                                a wide range of programming that includes HSE, Lifting, Well Engineering, and
                                Maintenance.</span>
                            <a href="#about-us" class="shop-btn animated">KNOW MORE</a>
                        </div>
                    </div>
                </div>
                <!-- Single Slider  -->
                <div class="swiper-slide bg-img d-flex"
                    style="background-image: url(assets/images/slider-image/sample-9.jpg);">
                    <div class="container align-self-center">
                        <div class="slider-content-1 slider-animated-1 text-center">

                            <h1 class="animated color-black">
                                <strong>WELCOME TO INFITECH</strong>
                            </h1>
                            <span class="animated color-gray">Infitech Training Institute was established to address the
                                continuously evolving training <br>
                                and competency development challenges of the upstream oil and gas industry. Infitech
                                offers <br>
                                a wide range of programming that includes HSE, Lifting, Well Engineering, and
                                Maintenance.</span>
                            <a href="#about-us" class="shop-btn animated">KNOW MORE</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide bg-img d-flex"
                    style="background-image: url(assets/images/slider-image/sample-10.jpg);">
                    <div class="container align-self-center">
                        <div class="slider-content-1 slider-animated-1 text-center">
                            <h1 class="animated color-black">
                                <strong>WELCOME TO INFITECH</strong>
                            </h1>
                            <span class="animated color-gray">Infitech Training Institute was established to address the
                                continuously evolving training <br>
                                and competency development challenges of the upstream oil and gas industry. Infitech
                                offers <br>
                                a wide range of programming that includes HSE, Lifting, Well Engineering, and
                                Maintenance.</span>
                            <a href="#about-us" class="shop-btn animated">KNOW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
        </div>
    </div>
    <!-- Slider End -->
    <section class="about-area mtb-60px">
        <div class="container">
            <div class="row">

                <div class="col-lg-7">
                    <div class="about-content">
                        <div class="about-title">
                            <h5 style="color: #048ded;">ABOUT INFITECH</h5>
                            <h2>COMPANY PROFILE</h2>
                        </div>
                        <p class="mb-30px">
                            Infitech Training Institute was established to address the continuously evolving training
                            and competency development challenges of the upstream oil and gas industry. Infitech offers
                            a wide range of programming that includes HSE, Lifting, Well Engineering, and Maintenance.
                            We also offer immersive vocational training programs that are locally and internationally
                            accredited and are designed to help the industry meet its skilled manpower requirements
                            today and in the future. Infitech is centrally located in Azaiba, Muscat, but also can
                            deliver Online and in-house training solutions at client’s request.
                        </p>
                        <h4>The Vision:</h4>
                        <p>
                            Be the Energy Industry’s preferred training and technical skills development destination in
                            Oman and the Gulf region.
                        </p>
                        <h4>The Mission: </h4>
                        <p>
                            To deliver high quality accredited vocational and skills development training programs that
                            award globally recognized qualifications that are accredited by the Ministry of Higher
                            Education in Oman. Programs that are industry-specific and competency-based; designed to
                            develop and nurture skills that empower organizations and individuals to thrive.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="about-left-image mb-md-30px mb-lm-30px ">
                        <img src="assets/images/slider-image/sample-3.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Category Tab Area Start -->
    <section class="infitech-training-section">
        <div class="container">
            <div class="section-main-heading section-with-btn-heading">
                <h2>ALL INFITECH TRAININGS</h2>
                <!-- Nav tabs -->
                <ul class="sub-category d-flex justify-content-end flex-grow-1">
                    <li class="nav-item">
                        <a class="infitech-training-btn" href="#training-courses">READ MORE</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-6 ">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="#hse-detail" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/8.jpg" alt="" />
                            </a>
                        </div>
                        <div class="product-decs home-class">
                            <a class="inner-link" href="#hse-detail"><span>HSE</span></a>
                            <h2><a href="#hse-detail" class="product-link">21 Reviews</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="home courses-list-btn">
                                <ul>
                                    <li><i class="ion-person"></i> 2k+ Student</li>
                                    <li><i class="ion-android-time"></i> 2k+ Student</li>
                                    <li><i class="ion-android-star-outline"></i> 5 Reviews</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-6 ">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="#electrical-detail" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/25.jpg" alt="" />
                            </a>
                        </div>
                        <div class="product-decs home-class">
                            <a class="inner-link" href="#electrical-detail"><span>Electrical</span></a>
                            <h2><a href="#electrical-detail" class="product-link">21 Reviews</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="home courses-list-btn">
                                <ul>
                                    <li><i class="ion-person"></i> 2k+ Student</li>
                                    <li><i class="ion-android-time"></i> 2k+ Student</li>
                                    <li><i class="ion-android-star-outline"></i> 5 Reviews</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-6 ">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="#lifting-detail" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/26.jpg" alt="" />
                            </a>
                        </div>
                        <div class="product-decs home-class">
                            <a class="inner-link" href="#lifting-detail"><span>Lifting</span></a>
                            <h2><a href="#lifting-detail" class="product-link">21 Reviews</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="home courses-list-btn">
                                <ul>
                                    <li><i class="ion-person"></i> 2k+ Student</li>
                                    <li><i class="ion-android-time"></i> 2k+ Student</li>
                                    <li><i class="ion-android-star-outline"></i> 5 Reviews</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6 col-md-6 offset-xl-2">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="#mechanical-detail" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/27.jpg" alt="" />
                            </a>
                        </div>
                        <div class="product-decs home-class">
                            <a class="inner-link" href="#mechanical-detail"><span>Mechanical</span></a>
                            <h2><a href="#mechanical-detail" class="product-link">21 Reviews</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="home courses-list-btn">
                                <ul>
                                    <li><i class="ion-person"></i> 2k+ Student</li>
                                    <li><i class="ion-android-time"></i> 2k+ Student</li>
                                    <li><i class="ion-android-star-outline"></i> 5 Reviews</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-6 ">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="#well-engineering-detail" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/28.jpg" alt="" />
                            </a>
                        </div>
                        <div class="product-decs home-class">
                            <a class="inner-link" href="#well-engineering-detail"><span>Well Engineering
                                    (BEGINNER)</span></a>
                            <h2><a href="#well-engineering-detail" class="product-link">21 Reviews</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="home courses-list-btn">
                                <ul>
                                    <li><i class="ion-person"></i> 2k+ Student</li>
                                    <li><i class="ion-android-time"></i> 2k+ Student</li>
                                    <li><i class="ion-android-star-outline"></i> 5 Reviews</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

            </div>

        </div>
    </section>
    <!-- Category Tab Area end -->

    <section class="upcoming-training-section">
        <div class="container">
            <div class="section-main-heading text-center">
                <h2 style="color: #fff;">UPCOMING TRAINING</h2>
            </div>
            <div class="recent-slider-two slider-nav-style-1 multi-row">
                <div class="recent-slider-wrapper swiper-wrapper">
                    <div class="recent-slider-item swiper-slide">
                        <article class="list-product">
                            <div class="upcoming-training-box">
                                <img src="assets/images/product-image/9.jpg" alt="">
                                <div class="training-date">
                                    <b>12</b><br>
                                    <small>MAR</small>
                                </div>
                                <div class="training-text">
                                    <h5>HSE</h5>
                                    <p>TAMAKAN E-LEARNING-Non PDO <br> 12/3/2019 - 12/6/2019</p>
                                    <a href="#">ENROLL NOW <i class="ion-android-arrow-dropright"></i></a>
                                </div>
                            </div>

                        </article>
                    </div>
                    <div class="recent-slider-item swiper-slide">
                        <article class="list-product">
                            <div class="upcoming-training-box">
                                <img src="assets/images/product-image/9.jpg" alt="">
                                <div class="training-date">
                                    <b>12</b><br>
                                    <small>MAR</small>
                                </div>
                                <div class="training-text">
                                    <h5>HSE</h5>
                                    <p>TAMAKAN E-LEARNING-Non PDO <br> 12/3/2019 - 12/6/2019</p>
                                    <a href="#">ENROLL NOW <i class="ion-android-arrow-dropright"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="recent-slider-item swiper-slide">
                        <article class="list-product">
                            <div class="upcoming-training-box">
                                <img src="assets/images/product-image/9.jpg" alt="">
                                <div class="training-date">
                                    <b>12</b><br>
                                    <small>MAR</small>
                                </div>
                                <div class="training-text">
                                    <h5>HSE</h5>
                                    <p>TAMAKAN E-LEARNING-Non PDO <br> 12/3/2019 - 12/6/2019</p>
                                    <a href="#">ENROLL NOW <i class="ion-android-arrow-dropright"></i></a>
                                </div>
                            </div>
                        </article>

                    </div>
                    <div class="recent-slider-item swiper-slide">
                        <article class="list-product">
                            <div class="upcoming-training-box">
                                <img src="assets/images/product-image/9.jpg" alt="">
                                <div class="training-date">
                                    <b>12</b><br>
                                    <small>MAR</small>
                                </div>
                                <div class="training-text">
                                    <h5>HSE</h5>
                                    <p>TAMAKAN E-LEARNING-Non PDO <br> 12/3/2019 - 12/6/2019</p>
                                    <a href="#">ENROLL NOW <i class="ion-android-arrow-dropright"></i></a>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-buttons">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>



            <!--  -->
            <!-- <div class="row">
                <div class="col-lg-4">
                    <div class="upcoming-training-box">
                        <img src="assets/images/product-image/9.jpg" alt="">
                        <div class="training-date">
                            <b>12</b><br>
                            <small>MAR</small>
                        </div>
                        <div class="training-text">
                            <h5>HSE</h5>
                            <p>TAMAKAN E-LEARNING-Non PDO <br> 12/3/2019 - 12/6/2019</p>
                            <a href="#">ENROLL NOW <i class="ion-android-arrow-dropright"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="upcoming-training-box">
                        <img src="assets/images/product-image/9.jpg" alt="">
                        <div class="training-date">
                            <b>12</b><br>
                            <small>MAR</small>
                        </div>
                        <div class="training-text">
                            <h5>HSE</h5>
                            <p>TAMAKAN E-LEARNING-Non PDO <br> 12/3/2019 - 12/6/2019</p>
                            <a href="#">ENROLL NOW <i class="ion-android-arrow-dropright"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="upcoming-training-box">
                        <img src="assets/images/product-image/9.jpg" alt="">
                        <div class="training-date">
                            <b>12</b><br>
                            <small>MAR</small>
                        </div>
                        <div class="training-text">
                            <h5>HSE</h5>
                            <p>TAMAKAN E-LEARNING-Non PDO <br> 12/3/2019 - 12/6/2019</p>
                            <a href="#">ENROLL NOW <i class="ion-android-arrow-dropright"></i></a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- Category Tab Area Start -->
    <section class="why-infitech-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="why-infitech-img">
                        <img src="assets/images/slider-image/sample-4.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="why-infitech-trxt">
                        <div class="about-title">
                            <h2>WHY <span style="color: #048ded;">INFITECH</span>?</h2>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur omnis <br> perferendis
                            error
                            veritatis doloribus! Quidem dolores eos odit ea iure <br> ex perspiciatis eius, dolor
                            provident
                            facere officiis nemo modi neque <br> aspernatur, accusamus ab tempora laboriosam
                            nobis
                            explicabo totam<br> repellendus. Quae magni commodi ex omnis ratione dolores explicabo.
                        <ul class="why-infitech-list">
                            <li><i class="ion-ios-arrow-right"></i>Lorem ipsum dolor sit, amet consectetur adipisicing.
                            </li>
                            <li><i class="ion-ios-arrow-right"></i>Lorem ipsum dolor sit, amet consectetur adipisicing.
                            </li>
                            <li><i class="ion-ios-arrow-right"></i>Lorem ipsum dolor sit, amet consectetur adipisicing.
                            </li>
                            <li><i class="ion-ios-arrow-right"></i>Lorem ipsum dolor sit, amet consectetur adipisicing.
                            </li>
                            <li><i class="ion-ios-arrow-right"></i>Lorem ipsum dolor sit, amet consectetur adipisicing.
                            </li>
                        </ul>
                        <a href="#" class="why-infitech-btn">VIEW COURSE</a>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- Category Tab Area end -->
    <section class="globlr-section">
        <div class="container">
            <div class="globle-box">
                <img src="assets/images/logo/logo.png" alt="">
                <div class="section-main-heading text-center">
                    <h2>ACCREDITATIONS AND AFFILIATION</h2>
                </div>
                <div class="courses-details-learning-li aaa-section-detail">
                    <ul>
                        <li><i class="ion-ios-star"></i>IWCF Accredited Training Provider and Assessment Center for
                            Drilling Well Control Levels
                            2, 3 and 4 & Well Intervention Pressure Control Levels 3& 4.</li>
                        <li><i class="ion-ios-star"></i>IADC Accredited Training Provider for Drilling Industry Training
                            (DIT)</li>
                        <li><i class="ion-ios-star"></i>PDO Approved for Level 1& 2 Courses</li>
                        <li><i class="ion-ios-star"></i>ISO 9001:2015 Certified Company.</li>
                        <li><i class="ion-ios-star"></i>AHA Approved First Aid Training Provider</li>
                        <li><i class="ion-ios-star"></i>Approved by National Training Fund / Ministry of Higher
                            Education</li>
                        <li><i class="ion-ios-star"></i>OPAL (Oman Society for Petroleum Services)</li>
                        <li><i class="ion-ios-star"></i>NPORS (Lifting Training).</li>
                        <li><i class="ion-ios-star"></i>All Trainers are City & Guilds Approved and NEBOSH Certified
                            (HSE)</li>
                        <li><i class="ion-ios-star"></i>Delivering HSE and Technical training for various clients</li>
                    </ul>
                </div>
                <ul>
                    <li>
                        <h1>6375</h1><span>ENROLLED STUDENTS</span>
                    </li>
                    <li>
                        <h1>59</h1><span>LESSONS</span>
                    </li>
                    <li>
                        <h1>243</h1><span>5 STARS RATING</span>
                    </li>
                    <li>
                        <h1>35</h1><span>VIDEOS</span>
                    </li>
                </ul>
                <div class="brand-slider slider-nav-style-1  slider-nav-style-2">
                    <div class="brand-slider-wrapper swiper-wrapper">
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/1.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/2.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/3.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/4.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/5.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/6.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/7.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/8.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/9.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/10.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/11.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/12.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/13.jpg" alt="" /></a>
                        </div>
                        <div class="brand-slider-item swiper-slide">
                            <a href="#"><img src="assets/images/brand-logo/14.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- category Area Start -->
    <section class="infitech-training-section">
        <div class="container">
            <div class="section-main-heading text-center">
                <h2>OUR INSTRUCTORS</h2>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="#" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5>Name</h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="#" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5>Name</h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="#" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5>Name</h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="#" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5>Name</h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <section class="enquiry-section">
        <img class="first-img" src="assets/images/slider-image/img1.jpg" alt="" style="width: 100%; height: 500px;
    object-fit: cover;">
        <div class="enquiry-form">
            <div class="section-main-heading text-left">
                <h2>TRAINING ENQUIRY</h2>
            </div>
            <form class="quiry-form-box">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="text">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email">

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Mobile</label>
                        <input type="text">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Company</label>
                        <input type="text">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Training Category</label>
                        <select>
                            <option selected></option>
                            <option value="1">Category 1</option>
                            <option value="2">Category 2</option>
                            <option value="3">Category 3</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">Name of Training</label>
                        <select>
                            <option selected></option>
                            <option value="1">Training 1</option>
                            <option value="2">Training 2</option>
                            <option value="3">Training 3</option>
                        </select>
                    </div>
                </div>
            </form>
            <a href="#" class="why-infitech-btn">SUBMIT</a>
        </div>
    </section>

    <!--  -->
    <section class="event-section pb-0">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14625.720433275574!2d58.3850371!3d23.5889029!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaa8bc02f336bdf5a!2sInfitech%20Training%20Institute!5e0!3m2!1sen!2sin!4v1655874343072!5m2!1sen!2sin"
            width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>