@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageName"] = "career";
    ViewData["Category1"] = "Dashboard";
    Layout = "../Shared/_WebLayout.cshtml";
    //ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Analytics <span class='fw-300'>Dashboard</span>";
}
<div class="offcanvas-overlay"></div>
    <!-- Breadcrumb Area Start -->
    <div class="banner">
        <img src="~/assets/images/banner.jpg" class="img-fluid" alt="Responsive image">
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content">
                        <h1>CAREER</h1>
                        <ul class="nav">
                            <li><a href="index.php">Home</a></li>
                            <li>CAREER</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End-->
    <!-- cart area start -->
    <div class="cart-main-area mtb-60px">
        <div class="container">
            <div class="section-main-heading text-center">
                <h2>VACANCIES</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-lm-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Safety Engineering Trainer</h4>
                                </div>
                                <h5><i class="ion-android-bookmark"></i> Department<span>Training</span></h5>
                                <h5><i class="ion-ios-book-outline"></i> Qualification<span>Graduate</span></h5>
                                <h5><i class="ion-location"></i> Location<span>Muscat, Oman</span></h5>
                                <a href="career-detail.php">View Details</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-lm-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Safety Engineering Trainer</h4>
                                </div>
                                <h5><i class="ion-android-bookmark"></i> Department<span>Training</span></h5>
                                <h5><i class="ion-ios-book-outline"></i> Qualification<span>Graduate</span></h5>
                                <h5><i class="ion-location"></i> Location<span>Muscat, Oman</span></h5>
                                <a href="career-detail.php">View Details</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-md-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Safety Engineering Trainer</h4>
                                </div>
                                <h5><i class="ion-android-bookmark"></i> Department<span>Training</span></h5>
                                <h5><i class="ion-ios-book-outline"></i> Qualification<span>Graduate</span></h5>
                                <h5><i class="ion-location"></i> Location<span>Muscat, Oman</span></h5>
                                <a href="career-detail.php">View Details</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-md-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Safety Engineering Trainer</h4>
                                </div>
                                <h5><i class="ion-android-bookmark"></i> Department<span>Training</span></h5>
                                <h5><i class="ion-ios-book-outline"></i> Qualification<span>Graduate</span></h5>
                                <h5><i class="ion-location"></i> Location<span>Muscat, Oman</span></h5>
                                <a href="career-detail.php">View Details</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-md-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Safety Engineering Trainer</h4>
                                </div>
                                <h5><i class="ion-android-bookmark"></i> Department<span>Training</span></h5>
                                <h5><i class="ion-ios-book-outline"></i> Qualification<span>Graduate</span></h5>
                                <h5><i class="ion-location"></i> Location<span>Muscat, Oman</span></h5>
                                <a href="career-detail.php">View Details</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-md-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Safety Engineering Trainer</h4>
                                </div>
                                <h5><i class="ion-android-bookmark"></i> Department<span>Training</span></h5>
                                <h5><i class="ion-ios-book-outline"></i> Qualification<span>Graduate</span></h5>
                                <h5><i class="ion-location"></i> Location<span>Muscat, Oman</span></h5>
                                <a href="career-detail.php">View Details</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-md-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Safety Engineering Trainer</h4>
                                </div>
                                <h5><i class="ion-android-bookmark"></i> Department<span>Training</span></h5>
                                <h5><i class="ion-ios-book-outline"></i> Qualification<span>Graduate</span></h5>
                                <h5><i class="ion-location"></i> Location<span>Muscat, Oman</span></h5>
                                <a href="career-detail.php">View Details</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-md-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Safety Engineering Trainer</h4>
                                </div>
                                <h5><i class="ion-android-bookmark"></i> Department<span>Training</span></h5>
                                <h5><i class="ion-ios-book-outline"></i> Qualification<span>Graduate</span></h5>
                                <h5><i class="ion-location"></i> Location<span>Muscat, Oman</span></h5>
                                <a href="career-detail.php">View Details</a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="pro-pagination-style text-center mb-60px mt-30px">
                <ul>
                    <li>
                        <a class="prev" href="#"><i class="ion-ios-arrow-left"></i></a>
                    </li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                        <a class="next" href="#"><i class="ion-ios-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>