@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageName"] = "Contact";
    ViewData["Category1"] = "Dashboard";
    Layout = "../Shared/_WebLayout.cshtml";
    //ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Analytics <span class='fw-300'>Dashboard</span>";
}
<div class="offcanvas-overlay"></div>
    <!-- Breadcrumb Area Start -->
    <div class="banner">
        <img src="~/assets/images/banner.jpg" class="img-fluid" alt="Responsive image">

        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content">
                            <h1>CONTACT US</h1>
                            <ul class="nav">
                                <li><a href="index.php">Home</a></li>
                                <li>CONTACT US</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Breadcrumb Area End-->
    <!-- contact area start -->
    <div class="contact-area mtb-60px">
        <div class="container">
            <div class="custom-row-2 mb-4">
                <div class="col-lg-4 col-md-5 mb-lm-30px">
                    <div class="contact-info-wrap">
                        <div class="single-contact-info">
                            <div class="contact-icon">
                                <i class="ion-android-call"></i>
                            </div>
                            <div class="contact-info-dec">
                                <p><a href="tel:+968 2412 0300">+968 2412 0300</a></p>
                            </div>
                        </div>
                        <div class="single-contact-info">
                            <div class="contact-icon">
                                <i class="ion-android-globe"></i>
                            </div>
                            <div class="contact-info-dec">
                                <p><a href="mailto://urname@email.com">info@infitech.com</a></p>
                            </div>
                        </div>
                        <div class="single-contact-info">
                            <div class="contact-icon">
                                <i class="ion-android-pin"></i>
                            </div>
                            <div class="contact-info-dec">
                                <p>Muscat , North Azaiba m Al Watan Complex first floor Muscat OM, 175, Oman</p>
                            </div>
                        </div>
                        <div class="contact-social">
                            <h3>Follow Us</h3>
                            <div class="social-info">
                                <ul>
                                    <li>
                                        <a href="#" style="background: #247cea;"><i
                                                class="icon-social-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background: #1992c1;"><i
                                                class="icon-social-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background: #e140b7;"><i
                                                class="icon-social-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background: #0c4a97;"><i
                                                class="icon-social-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background: #b72020;"><i
                                                class="icon-social-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="contact-form">
                        <div class="contact-title mb-30">
                            <h2>Get In Touch</h2>
                        </div>
                        <form class="contact-form-style" id="contact-form"
                            action="#" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input name="name" placeholder="Name*" type="text" />
                                </div>
                                <div class="col-lg-6">
                                    <input name="email" placeholder="Email*" type="email" />
                                </div>
                                <div class="col-lg-12">
                                    <input name="subject" placeholder="Subject*" type="text" />
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="message" placeholder="Your Message*"></textarea>
                                    <button class="submit" type="submit">SEND</button>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-map mb-10">
            <div class="mapouter">
                <div class="gmap_canvas">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14625.720433275574!2d58.3850371!3d23.5889029!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaa8bc02f336bdf5a!2sInfitech%20Training%20Institute!5e0!3m2!1sen!2sin!4v1655875483186!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>