@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageName"] = "gallery";
    ViewData["Category1"] = "Dashboard";
    Layout = "../Shared/_WebLayout.cshtml";
    //ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Analytics <span class='fw-300'>Dashboard</span>";
}
 <div class="offcanvas-overlay"></div>
  <div class="banner">
    <img src="~/assets/images/banner.jpg" class="img-fluid" alt="Responsive image">

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumb-content">
            <h1>OUR GALLERY</h1>
            <ul class="nav">
              <li><a href="index.php">Home</a></li>
              <li>OUR GALLERY</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb Area End-->

  <section class="main-gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/1.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/2.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/3.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/4.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/5.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/6.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/7.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/8.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/9.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/10.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/11.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/12.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/13.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/14.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/15.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/16.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/17.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/18.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/19.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/20.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/21.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/22.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/23.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/24.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/25.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/26.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/27.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/28.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/29.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="gallery-img-main">
            <img src="~/assets/images/slider-image/30.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
