@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageName"] = "Responsibility";
    ViewData["Category1"] = "Dashboard";
    Layout = "../Shared/_WebLayout.cshtml";
    //ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Analytics <span class='fw-300'>Dashboard</span>";
}
 <div class="offcanvas-overlay"></div>
    <div class="banner">
        <img src="~/assets/images/banner.jpg" class="img-fluid" alt="Responsive image">

        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content">
                            <h1>RESPONSIBILITY</h1>
                            <ul class="nav">
                                <li><a href="index.php">Home</a></li>
                                <li>RESPONSIBILITY</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Breadcrumb Area End-->

    <section class="infitech-training-section">
        <div class="container">
            <div class="section-main-heading text-center">
                <h2>OUR INSTRUCTOR</h2>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>

                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/5.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/12.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/13.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/14.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/15.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/16.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="list-product home-training">
                        <div class="img-block">
                            <a href="responsibility-details.php" class="thumbnail">
                                <img class="first-img" src="~/assets/images/product-image/17.jpg" alt="">
                            </a>
                        </div>
                        <div class="instructor-box">
                            <h5><a href="responsibility-details.php">Name</a></h5>
                            <span>Department</span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>