@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageName"] = "gallery";
    ViewData["Category1"] = "Dashboard";
    Layout = "../Shared/_WebLayout.cshtml";
    //ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Analytics <span class='fw-300'>Dashboard</span>";
}
 <div class="offcanvas-overlay"></div>
    <div class="banner">
        <img src="assets/images/banner.jpg" class="img-fluid" alt="Responsive image">

        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content">
                            <h1>TRAINING COURSES</h1>
                            <ul class="nav">
                                <li><a href="index.php">Home</a></li>
                                <li>HSE</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Breadcrumb Area End-->
    <!-- Shop Category Area End -->
    <div class="shop-category-area mt-30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
                    <!-- Shop Bottom Area Start -->
                    <div class="shop-bottom-area mt-35">
                        <!-- Shop Tab Content Start -->
                        <div class="tab-content jump">
                            <!-- Tab One Start -->
                            <div id="shop-1" class="tab-pane active">
                                <div class="row responsive-md-class responsive-xl-class responsive-lg-class">
                                    <div class="col-xl-4 col-md-4 col-sm-6  ">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="hse-detail.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/7.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="hse-detail.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="hse-detail.php"><span>HSE
                                                COURSES</span></a>
                                                <div class="courses-list-btn-name-text">
                                                    ORT
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="hse-detail.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6 ">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="electrical-detail.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/29.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="electrical-detail.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="electrical-detail.php"><span>ELECTRICAL COURSES</span></a>
                                                <div class="courses-list-btn-name-text">
                                                    ORT
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="electrical-detail.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6  ">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="lifting-detail.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/30.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="lifting-detail.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="lifting-detail.php"><span>LIFTING COURSES</span></a>
                                                <div class="courses-list-btn-name-text">
                                                    ORT
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="lifting-detail.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6  ">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="mechanical-detail.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/31.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="mechanical-detail.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="mechanical-detail.php"><span>MECHANICAL COURSES</span></a>
                                                <div class="courses-list-btn-name-text">
                                                    ORT
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="mechanical-detail.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="well-engineering-brginner.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/32.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="well-engineering-brginner.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="well-engineering-brginner.php"><span>WELL ENGINEERING (BEGINNER)</span></a>
                                                <div class="courses-list-btn-name-text">
                                                IWCF-DWC
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="well-engineering-brginner.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </div>   
                                    <div class="col-xl-4 col-md-4 col-sm-6">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="well-engineering-intermediate.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/32.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="well-engineering-intermediate.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="well-engineering-intermediate.php"><span>WELL ENGINEERING (INTERMEDIATE)</span></a>
                                                <div class="courses-list-btn-name-text">
                                                IWCF-DWC
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="well-engineering-intermediate.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </article>
                                    </div> 
                                    <div class="col-xl-4 col-md-4 col-sm-6">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="well-engineering-advanced.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/32.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="well-engineering-advanced.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="well-engineering-advanced.php"><span>WELL ENGINEERING (ADVANCED)</span></a>
                                                <div class="courses-list-btn-name-text">
                                                IWCF-DWC
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="well-engineering-advanced.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="well-engineering-intermediate2.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/32.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="well-engineering-intermediate2.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="well-engineering-intermediate2.php"><span>WELL ENGINEERING (INTERMEDIATE)</span></a>
                                                <div class="courses-list-btn-name-text">
                                                IWCF-WIPC
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="well-engineering-intermediate2.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </article>
                                    </div>    
                                    <div class="col-xl-4 col-md-4 col-sm-6">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="well-engineering-advanced2.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/32.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="well-engineering-advanced2.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="well-engineering-advanced2.php"><span>WELL ENGINEERING (ADVANCED)</span></a>
                                                <div class="courses-list-btn-name-text">
                                                IWCF-WIPC
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="well-engineering-advanced2.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </article>
                                    </div>  
                                    <div class="col-xl-4 col-md-4 col-sm-6">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="well-engineering-advanced3.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/32.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="well-engineering-advanced3.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="well-engineering-advanced3.php"><span>WELL ENGINEERING (ADVANCED)</span></a>
                                                <div class="courses-list-btn-name-text">
                                                SPP
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="well-engineering-advanced3.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </article>
                                    </div>         
                                    <div class="col-xl-4 col-md-4 col-sm-6">
                                        <article class="list-product">
                                            <div class="img-block">
                                                <a href="well-engineering-brginner2.php" class="thumbnail">
                                                    <img class="first-img" src="assets/images/product-image/32.jpg"
                                                        alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="well-engineering-brginner2.php" class="product-link">21
                                                        Reviews</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <a class="inner-link mb-4" href="well-engineering-brginner2.php"><span>WELL ENGINEERING (BEGINNER)</span></a>
                                                <div class="courses-list-btn-name-text">
                                                DFND
                                                </div>
                                                <div class="courses-list-btn">
                                                    <ul>
                                                        <li><i class="ion-android-time"></i></li>
                                                        <li><span>Sixteen <br> hours</span></li>
                                                        <li><a href="well-engineering-brginner2.php"> view Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </div>                       
                                </div>
                            </div>
                            <!-- Tab One End -->
                        </div>
                        <!-- Shop Tab Content End -->
                        <!--  Pagination Area Start -->
                        <div class="pro-pagination-style text-center mb-60px mt-30px">
                            <ul>
                                <li>
                                    <a class="prev" href="#"><i class="ion-ios-arrow-left"></i></a>
                                </li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li>
                                    <a class="next" href="#"><i class="ion-ios-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!--  Pagination Area End -->
                    </div>
                    <!-- Shop Bottom Area End -->
                </div>
                <!-- Sidebar Area Start -->
                <div class="col-lg-3 order-lg-first col-md-12 order-md-last mb-md-60px mb-lm-60px">
                    <div class="left-sidebar shop-sidebar-wrap">
                        <div class="training-courses-search-bar">
                            <!-- <h3 class="sidebar-title">Search</h3> -->
                            <div class="search-widget">
                                <form action="#">
                                    <input placeholder="Search" type="text">
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="shop-sidebar-wrap">
                        <!-- Sidebar single item -->
                        <div class="sidebar-widget-group mt-20 padding-20px">
                            <h3 class="sidebar-title">CATEGORY</h3>

                            <!-- Sidebar single item -->
                            <div class="sidebar-widget mt-30">
                                <!-- <h4 class="pro-sidebar-title">Size</h4> -->
                                <div class="sidebar-widget-list">
                                    <ul>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" /> <a href="#">HSE</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li class="check-box-child-menu">
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" /> <a href="#">PDO Courses</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li class="check-box-child-menu">
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" /> <a href="#">Non-PDO Courses</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">WELL ENGINEERING</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">ELECTRICAL</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">MECHANICAL</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">OTHER</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar single item -->
                    </div>

                    <div class="shop-sidebar-wrap">
                        <!-- Sidebar single item -->
                        <div class="sidebar-widget-group mt-20 padding-20px">
                            <h3 class="sidebar-title">TARGET AUDIENCE</h3>

                            <!-- Sidebar single item -->
                            <div class="sidebar-widget mt-30">
                                <!-- <h4 class="pro-sidebar-title">Size</h4> -->
                                <div class="sidebar-widget-list">
                                    <ul>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" /> <a href="#">OIL & GAS</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">GAS TESTER</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">SEBA</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">MAINTANANCE</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">CONTRACTORS</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">SUPERVISORS</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="shop-sidebar-wrap">
                        <!-- Sidebar single item -->
                        <div class="sidebar-widget-group mt-20 padding-20px">
                            <h3 class="sidebar-title">LEVEL</h3>

                            <!-- Sidebar single item -->
                            <div class="sidebar-widget mt-30">
                                <!-- <h4 class="pro-sidebar-title">Size</h4> -->
                                <div class="sidebar-widget-list">
                                    <ul>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" /> <a href="#">BEGINNER</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">INTERMEDIATE</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value="" /> <a href="#">EXPERT</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>