@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>
    <style type="text/css">
        /* RESET STYLES */
        html {
            background-color: #E1E1E1;
            margin: 0;
            padding: 0;
            color: #070707;
        }

        body,
        #bodyTable,
        #bodyCell,
        #bodyCell {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
            font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
        }

        table[id=bodyTable] {
            width: 100% !important;
            margin: auto;
            max-width: 500px !important;
            color: #070707;
            font-weight: normal;
        }

        img,
        a img {
            border: 0;
            outline: none;
            text-decoration: none;
            height: auto;
            line-height: 100%;
        }

        a {
            text-decoration: none !important;
            border-bottom: 1px solid;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #070707;
            font-weight: normal;
            font-family: Helvetica;
            font-size: 20px;
            line-height: 125%;
            text-align: Left;
            letter-spacing: normal;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }

        /* CLIENT-SPECIFIC STYLES */
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            /* Force Hotmail/Outlook.com to display emails at full width. */
            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }

        /* Force Hotmail/Outlook.com to display line heights normally. */
        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        /* Remove spacing between tables in Outlook 2007 and up. */
        #outlook a {
            padding: 0;
        }

        /* Force Outlook 2007 and up to provide a "view in browser" message. */
        img {
            -ms-interpolation-mode: bicubic;
            display: block;
            outline: none;
            text-decoration: none;
        }

        /* Force IE to smoothly render resized images. */
        body,
        table,
        td,
        p,
        a,
        li,
        blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            font-weight: normal !important;
        }

        /* Prevent Windows- and Webkit-based mobile platforms from changing declared text sizes. */
        .ExternalClass td[class="ecxflexibleContainerBox"] h3 {
            padding-top: 10px !important;
        }

        /* Force hotmail to push 2-grid sub headers down */

        /* /\/\/\/\/\/\/\/\/ TEMPLATE STYLES /\/\/\/\/\/\/\/\/ */

        /* ========== Page Styles ========== */
        h1 {
            display: block;
            font-size: 26px;
            font-style: normal;
            font-weight: normal;
            line-height: 100%;
        }

        h2 {
            display: block;
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            line-height: 120%;
        }

        h3 {
            display: block;
            font-size: 17px;
            font-style: normal;
            font-weight: normal;
            line-height: 110%;
        }

        h4 {
            display: block;
            font-size: 18px;
            font-weight: normal;
            line-height: 100%;
        }

        .flexibleImage {
            height: auto;
        }

        .linkRemoveBorder {
            border-bottom: 0 !important;
        }

        table[class=flexibleContainerCellDivider] {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }

        body,
        #bodyTable {
            background-color: #fff;
        }

        #emailHeader {
            background-color: #E1E1E1;
        }

        #emailBody {
            background-color: #FFFFFF;
        }

        #emailFooter {
            background-color: #E1E1E1;
        }

        .nestedContainer {
            background-color: #F8F8F8;
            border: 1px solid #CCCCCC;
        }

        .emailButton {
            background-color: #205478;
            border-collapse: separate;
        }

        .buttonContent {
            color: #FFFFFF;
            font-family: Helvetica;
            font-size: 18px;
            font-weight: bold;
            line-height: 100%;
            padding: 15px;
            text-align: center;
        }

            .buttonContent a {
                color: #FFFFFF;
                display: block;
                text-decoration: none !important;
                border: 0 !important;
            }

        .emailCalendar {
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
        }

        .emailCalendarMonth {
            background-color: #205478;
            color: #FFFFFF;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }

        .emailCalendarDay {
            color: #205478;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 60px;
            font-weight: bold;
            line-height: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }

        .imageContentText {
            margin-top: 10px;
            line-height: 0;
        }

            .imageContentText a {
                line-height: 0;
            }

        #invisibleIntroduction {
            display: none !important;
        }

        /* Removing the introduction text from the view */

        /*FRAMEWORK HACKS & OVERRIDES */
        span[class=ios-color-hack] a {
            color: #275100 !important;
            text-decoration: none !important;
        }

        /* Remove all link colors in IOS (below are duplicates based on the color preference) */
        span[class=ios-color-hack2] a {
            color: #205478 !important;
            text-decoration: none !important;
        }

        span[class=ios-color-hack3] a {
            color: #8B8B8B !important;
            text-decoration: none !important;
        }

        /* A nice and clean way to target phone numbers you want clickable and avoid a mobile phone from linking other numbers that look like, but are not phone numbers.  Use these two blocks of code to "unstyle" any numbers that may be linked.  The second block gives you a class to apply with a span tag to the numbers you would like linked and styled.
                    Inspired by Campaign Monitor's article on using phone numbers in email: http://www.campaignmonitor.com/blog/post/3571/using-phone-numbers-in-html-email/.
                    */
        .a[href^="tel"],
        a[href^="sms"] {
            text-decoration: none !important;
            color: #606060 !important;
            pointer-events: none !important;
            cursor: default !important;
        }

        .mobile_link a[href^="tel"],
        .mobile_link a[href^="sms"] {
            text-decoration: none !important;
            color: #606060 !important;
            pointer-events: auto !important;
            cursor: default !important;
        }

        img {
            width: 100%;
        }

        .placholder {
            display: inline-block;
        }

        td[class="textContent"] p {
            line-height: 1.5 !important;
        }
        /* MOBILE STYLES */
        @@media only screen and (max-width: 480px) {
            /*////// CLIENT-SPECIFIC STYLES //////*/
            body {
                width: 100% !important;
                min-width: 100% !important;
            }

            table[id="emailHeader"],
            table[id="emailBody"],
            table[id="emailFooter"],
            table[class="flexibleContainer"],
            td[class="flexibleContainerCell"] {
                width: 100% !important;
            }

            td[class="flexibleContainerBox"],
            td[class="flexibleContainerBox"] table {
                display: block;
                width: 100%;
            }

            td[class="imageContent"] img {
                height: auto !important;
                width: 100% !important;
                max-width: 100% !important;
            }

            img[class="flexibleImage"] {
                height: auto !important;
                width: 100% !important;
                max-width: 100% !important;
            }

            img[class="flexibleImageSmall"] {
                height: auto !important;
                width: auto !important;
            }

            table[class="flexibleContainerBoxNext"] {
                padding-top: 10px !important;
            }

            table[class="emailButton"] {
                width: 100% !important;
            }

            td[class="buttonContent"] {
                padding: 0 !important;
            }

                td[class="buttonContent"] a {
                    padding: 15px !important;
                }

            td[class="textContent"] p {
                line-height: 2 !important;
            }
        }

        /*  CONDITIONS FOR ANDROID DEVICES ONLY
            *   http://developer.android.com/guide/webapps/targeting.html
            *   http://pugetworks.com/2011/04/css-media-queries-for-targeting-different-mobile-devices/ ;
            =====================================================*/

        @@media only screen and (-webkit-device-pixel-ratio:.75) {
            /* Put CSS for low density (ldpi) Android layouts in here */
        }

        @@media only screen and (-webkit-device-pixel-ratio:1) {
            /* Put CSS for medium density (mdpi) Android layouts in here */
        }

        @@media only screen and (-webkit-device-pixel-ratio:1.5) {
            /* Put CSS for high density (hdpi) Android layouts in here */
        }

        /* end Android targeting */

        /* CONDITIONS FOR IOS DEVICES ONLY
                    =====================================================*/
        @@media only screen and (min-device-width : 320px) and (max-device-width:568px) {
        }

        /* end IOS targeting */
    </style>
</head>

<body bgcolor="#fff" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">

    <center style="background-color:#fff;">
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="table-layout: fixed;max-width:100% !important;width: 100% !important;min-width: 100% !important;">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <table bgcolor="#FFF" border="0" cellpadding="0" cellspacing="0" width="500" id="emailBody">

                        <!-- MODULE ROW // -->
                        <tr>
                            <td align="left" valign="top">
                                <!-- CENTERING TABLE // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#fff">
                                    <tr>
                                        <td align="left" valign="top">
                                            <!-- FLEXIBLE CONTAINER // -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="500" class="flexibleContainer">

                                                <tr>
                                                    <td class="flexibleContainerBox" valign="top" align="left">
                                                        <table class="flexibleContainerBoxNext" width="500" cellspacing="0"
                                                               cellpadding="10" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="textContent" align="left">
                                                                        @*<h1>Welcome | Live Well Medical Equipment</h1>*@
                                                                        <p style="color:#000;font-size:16px; margin:40px 0;"><b>Dear {User},</b></p>
                                                                        <p style="color:#000;font-size:16px; margin:0 0 40px 0;">

                                                                            <b>
                                                                                <em>
                                                                                    Welcome to BrandCo. Please click on the below link to activate your account.
                                                                                </em>
                                                                            </b>
                                                                            <br />
                                                                            <br /> <span class="placholder"></span><b><a href="{ResetLink}">Click Here</a></b>
                                                                            <!--I am {Name},  <span class="placholder"></span> working as {Designation} <span class="placholder"></span> in your company. Most humbly, it is requested that ({Comment})
                                                                            <span class="placholder"></span>. I won’t be able to make it to the office for <span class="placholder"></span> {LeaveDate}. Kindly grant me leave for <span class="placholder"></span> {LeaveDates}.-->
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="flexibleContainerBox" valign="top" align="left">
                                                        <table class="flexibleContainerBoxNext" width="500" cellspacing="0"
                                                               cellpadding="10" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="textContent" align="left">
                                                                        <p style="color:#000;font-size:16px; margin:5px 0;">Sincerely,</p>
                                                                        <p style="color:#000;font-size:16px; margin:5px 0;">BrandCo</p>
                                                                        <p style="color:#000;font-size:16px; margin:5px 0;">Contact:</p>
                                                                        <p style="color:#000;font-size:16px; margin:5px 0 60px;">(877) 748-393</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="flexibleContainerCell" width="500" valign="top">

                                                        <!-- CONTENT TABLE // -->
                                                        <table width="100%" cellspacing="0" cellpadding="10" border="0" align="left">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="flexibleContainerBox" valign="top" align="left">
                                                                        <table class="flexibleContainerBoxNext" width="130" cellspacing="0"
                                                                               cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="textContent" align="left">
                                                                                        <!-- <img src="E:\reporteq\livewell\WebUI\wwwroot\img\reporteqlogo.png" class="flexibleImage" style="max-width:100%;" alt="Text" title="Text" width="210">-->
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>

                                                                    <td class="flexibleContainerBox" valign="top" align="left">
                                                                        <table style="max-width:100%;" width="370" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <!--<td class="textContent" align="left">
                                                                                        <p style="color:#000;font-size:18px; margin:10px 0 0 0;">LiveWell</p>
                                                                                        <p style="color:#dabb63;font-size:12px; margin:0;">HR, Manager</p>-->
                                                                                        <!--<p style="color:#000;font-size:12px; margin: 0 0 12px 0;">Name</p>-->
                                                                                        <!--<p style="color:#000;font-size:11px; margin:0 5px 0 0;  display: inline-block;"><b style="color:#dabb63;font-weight:900 !important;display: inline-block;">M</b>  (877) 748-3935</p>-->
                                                                                        <!--<p style="color:#000;font-size:11px; margin:0 5px 0 0;  display: inline-block;"><b style="color:#dabb63;font-weight:900 !important;display: inline-block;">E</b>  admin@reporteq.com</p>-->
                                                                                        <!--<p style="color:#000;font-size:11px; margin:0;  display: inline-block;"><b style="color:#dabb63;font-weight:900 !important;display: inline-block;">W</b>  https://www.livewellmedical.com</p>
                                                                                    </td>-->
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>

                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                        <!-- // CONTENT TABLE -->

                                                    </td>
                                                </tr>

                                            </table>
                                            <!-- // FLEXIBLE CONTAINER -->
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CENTERING TABLE -->
                            </td>
                        </tr>
                        <!-- // MODULE ROW -->


                    </table>
                    <!-- // END -->

                </td>
            </tr>
        </table>
    </center>

</body>
</html>