<style>
    .supportList {
        width: 21rem !important;
        padding: 10px;
    }
</style>

<div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top">
    <h4 class="m-0 text-center color-white">
        Contact Support
        <small class="mb-0 opacity-80">Contact Us For Support</small>
    </h4>
</div>
<div class="supportList">
    <div id="contanctInfo">
        <ul class="list-unstyled fs-xl">
            <li class="text-success"> Nathan Guillen </li>
            <li>
                <a href="mailto:nathan@reporteq.com" class="">
                    nathan@reporteq.com
                </a>
            </li>
            <li>
                <a href="tel:888-818-8533" class="">
                    888-818-8533 <span> ext: 2097</span>
                </a>
            </li>
            <li>
                <a href="tel:+1 619 931-4880">+1 619 931-4880</a>
            </li>
        </ul>
        <div class="border rounded-0 p-2 bg-faded mb-2">
            <div class="w-100 h-auto mx-auto d-flex">
                <img class="w-75" src="~/img/reporteqlogo.png" />
            </div>
            <h4 class="fw-700 mt-4">
                Reporteq
            </h4>
            <ul class="list-unstyled fs-xl mb-0">
                <li> San Diego </li>
                <li>
                    United States
                </li>
                <li>
                    <a href="tel:(888) 818-9533">(888) 818-9533</a>
                </li>
                <li>
                    <a href="https://www.reporteq.com/" target="_blank" style="text-decoration:none !important">www.reporteq.com</a>
                </li>
            </ul>
        </div>
    </div>
    <!--QR Code -->
    <a href="javascript:void(0)" class="fs-xl" id="viewQRBtn">View QR Code</a>
    <img class="w-100 d-none mt-2" id="QRCodeImg" src="~/img/CoontactQR.png" />
</div>