@*@model Common.ViewModels.UserAccount.ChangePasswordVM;*@
@{
    Layout = null;
}

<div class="modal fade" id="changePasswordModal" data-backdrop="static" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary-900 p-2">
                <h4 class="modal-title text-white">
                    <span aria-hidden="true"><i class="fal fa-edit mr-2"></i></span>  Change Password
                </h4>
                @*<button type="button" class="close btn_close_modal" data-isaddcase="false" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>*@
            </div>
            <div class="modal-body">
                <div class="row flex">
                    <div class="col-md-6 col-sm-12 flex">
                        <form novalidate="" id="changepassword-form">
                            @*@Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()*@
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="OldPassword">Old Password</label>
                                        <input type="password" class="form-control" data-oldvalue="" value="" placeholder="Old Password" id="txtOldPassword" name="OldPassword" required>
                                        <div class="invalid-feedback">Sorry, you missed this one.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="NewPassword">New Password</label>
                                        <input type="password" class="form-control" data-oldvalue="" value="" placeholder="New Password" id="txtNewPassword" name="NewPassword" required>
                                        <div class="invalid-feedback">Sorry, you missed this one.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                                        <input type="password" class="form-control" data-oldvalue="" value="" placeholder="Confirm Password" id="txtConfirmPassword" name="ConfirmPassword" required>
                                        <div class="invalid-feedback">Sorry, you missed this one.</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-12 flex">
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item p-1">
                                <i class="fal fa-check text-danger"></i> Never reveal your password to anyone.
                            </li>
                            <li class="list-group-item  p-1">
                                <i class="fal fa-check text-danger"></i> Don't just use a single password, change it for every application.
                            </li>
                            <li class="list-group-item p-1">
                                <i class="fal fa-check text-danger"></i> Create passwords that are easy to remember but hard for others to guess.
                            </li>
                            <li class="list-group-item p-1">
                                <i class="fal fa-check text-danger"></i> Make your password a little different by adding a couple of unique letters.
                            </li>
                            <li class="list-group-item p-1">
                                <i class="fal fa-check text-danger"></i> Never include a username in your password.
                            </li>
                            <li class="list-group-item p-1">
                                <i class="fal fa-check text-danger"></i> Make the password at least 8 characters long.
                            </li>
                            <li class="list-group-item p-1">
                                <i class="fal fa-check text-danger"></i> Include numbers, capital letters and symbols.
                            </li>
                            <li class="list-group-item p-1">
                                <i class="fal fa-check text-danger"></i> Don’t use dictionary words.
                            </li>
                            <li class="list-group-item p-1">
                                <i class="fal fa-check text-danger"></i> Consider using a password manager.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer py-3 bg-faded">
                <button type="button" class="btn btn-sm btn-danger" data-isaddcase="false" data-dismiss="modal"><span class="fal fa-times mr-1"></span>Cancel</button>
                <button type="button" data-patientinfotypename="shipping Address" data-patientinfotype="" id="updatePassword" class="btn btn-sm btn-success"><span class="fal fa-save mr-1"></span>Update</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("#updatePassword").on('click', '', function (event) {
            debugger;
            event.preventDefault();
            event.stopPropagation();
            changePassword();
        });
    });

    function changePassword() {
        let form = $("#changepassword-form")
        if (ilms.validateForm(form) !== false) {
            let comparePasswords = compareOld_NewPassword($("#txtOldPassword").val(), $("#txtNewPassword").val());
            if (comparePasswords) {
                let validatePasswordRagex = validatePasswordRagexSyntax($("#txtNewPassword").val());
                if (validatePasswordRagex) {
                    let newComparePasswords = compareNew_ConfirmPassword($("#txtNewPassword").val(), $("#txtConfirmPassword").val());
                    if (newComparePasswords) {
                        let requestParam = ilms.getFormData($('#changepassword-form'));
                        ilms.ajaxPostCall(ilms.routers.ChangePassword, requestParam, function (data) {
                            if (data.success) {
                                ilms.showAlertWithType("Password Changed Successfully.", "success", 3000);
                                setTimeout(function () {
                                    // Load the page
                                    location.reload();
                                }, 2000);
                            } else {
                                ilms.showAlertWithType(data.error, "error", 3000);
                            }
                        })
                    }
                }
            }
        }
    }

    function validatePasswordRagexSyntax(password) {
        //let passwordRegex = new RegExp("^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{6}$");
        let capitalAlphabetRegex = new RegExp("^(?=.*[A-Z])");
        let smallerAlphabetRegex = new RegExp("^(?=.*[a-z])");
        let numberRegex = new RegExp("^(?=.*[0-9])");
        let stringLengthRegex = new RegExp("^.{6,}$");
        if (capitalAlphabetRegex.test(password)) {
            if (smallerAlphabetRegex.test(password)) {
                if (numberRegex.test(password)) {
                    if (stringLengthRegex.test(password)) {
                    }
                    else {
                        ilms.showAlertWithType("Password must be atleast 6 characters long", "warning", 5000);
                        return false;
                    }
                }
                else {
                    ilms.showAlertWithType("Password must contain at least one number", "warning", 5000);
                    return false;
                }
            }
            else {
                ilms.showAlertWithType("Password must contain at least one small Alphabet", "warning", 5000);
                return false;
            }
            return true;
        }
        else {
            ilms.showAlertWithType("Password must contain at least one Capital Alphabet", "warning", 5000);
            return false;
        }
    }

    function compareOld_NewPassword(oldPassword, newPassword) {
        if (oldPassword == newPassword) {
            ilms.showAlertWithType("You can not set your new password same as old password", "warning", 5000);
            return false;
        }
        else {
            return true;
        }
    }

    function compareNew_ConfirmPassword(newPassword, confirmPassword) {
        if (newPassword != confirmPassword) {
            ilms.showAlertWithType("New and confirm password should be same", "warning", 5000);
            return false;
        }
        else {
            return true;
        }
    }
</script>

